*{
    margin: 0px;
    padding: 0px;
}
.nav-container{
    display: flex;
    background-color: gray;
    padding: 10px;
    justify-content: space-around;
}
.manus{
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 22px;
    font-style: italic;
    font-weight: bolder;
    align-items: center;
}
.banner-container{
    height: 100vh;
    background-image: url("../asset/image/background.jpg"), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.primary{
    color: red;
}
.title{
    font-size: 55px;
    font-weight: bold;
    color: white;
}
.description{
    color:white;
    padding: 10px;
    width: 50%;
    margin: auto;
    line-height: 20px;
    
}
.btn{
    padding: 12px 20px;
    border: none;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
   
}

.bg-primary{
    background-color: red;
    color: white;
}
.service-continer{
    height: 100vh;
    background-image: url("../asset/image/footer-bg.png"), linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
}
.icon{
    width: 70px;
    margin-bottom: 20px;
}
.box{
    text-align: center;
    width: 150px;
    height: 120px;
    padding: 50px;
    background-color: white;
    color: black;
    border-radius: 5px;
    
}
.service-description{
    width: 50%;
    padding-left: 20px;
    line-height: 20px;

}
.first-two-box{
    display: flex;
    gap: 3px;
    margin-top: 5px;
}
.author-img{
    width: 70px;
    border-radius: 50%;
}
.author-continer{
    display: flex;
    gap: 20px;
    align-items: center;
}
.profile-continer{
    display: flex;
    align-items: center;
    gap: 5px;
    border-right: 2px solid red;
    padding-right: 20px;
    
    margin-top: 25px;
}
.autor-title{
    font-size: 45px;
    font-style: italic;

}
.phone-call{
    display: flex;
    align-items: center;
    
}
.apinment-contener{
display: flex;
justify-content: space-around;
width: 70%;
margin: auto;
padding: 20px;
background-color: red;
border-radius: 10px;
margin-top: -35px;
align-items: center;
margin-bottom: 25px;
}
.apin-description{
    margin: 20px;
    padding-left: 15px;
    border-left: 2px solid black;
    
    border-right: 2px solid black;
    text-align: center;
}
.displying-continer{
    text-align: center;
    padding: 30px;
}
.fram-img{
    width: 100%;
    border-radius: 10px;
    
}
.frem{
    width: 300px;
    height: 400px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 5px gray;
    
}
.fram-continer{
    display: flex;
    gap: 10px;
    justify-content: center;
    
}
.had-dis{
    padding: 2px;
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    
}